html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#container {

min-height:100%;
position:relative;
/*background-color: #C2EEE6;*/
width: 100%;
background-color: #801EEF;
/*background-color:  #05021c;*/
/*background-color:  #04093b;*/
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

/*This is the nav bar on the Break the Ice Page */

.navbar-toggler.toggler-example {
    cursor: pointer;
}

/*Sign up Page */
.inputLabel{
	color: white;

}

/*The class for the main page login*/

#login{
	padding: 0px;
	margin: 0px;
}


i {
	color: white;
}

.linkColor{
	color: white;
}

.mainBody {
	text-align: center;
}

.form-horizontal {
	margin-bottom: 100px;
}

.form-container {
	/*margin-right: 100px;*/
}

.create-account {
	margin-top: 100px;
}

.sign-up-group {
	width: 100%
	/*margin: 10px 40px;*/
}
@media screen and (max-width: 500px) and (min-width:320px ) {	
	.sign-up-group {
		width: 115%
	}
}

.tag-wrapper {
	width: 1000px;
}

p {
	font-size: 35px;
	text-shadow: -1px 0 #089BA3, 0 1px #089BA3, 1px 0 #089BA3, 0 -1px #089BA3;
	margin-left: 20px; 
	color: white;
	font-family: 'Lobster', cursive;
}

h3 {
	font-size: 35px;
	text-shadow: -1px 0 #089BA3, 0 1px #089BA3, 1px 0 #089BA3, 0 -1px #089BA3;
	margin-left: 20px; 
	color: white;
	font-family: 'Lobster', cursive;
}

h1 {
	font-size: 55px;
	text-shadow: -1px 0 #089BA3, 0 1px #089BA3, 1px 0 #089BA3, 0 -1px #089BA3;
	margin-left: 20px; 
	color: white;
	font-family: 'Lobster', cursive;
}

.carousel {
	height: 500px;
	width: 500px;	
}

#delete-account {
	margin-left: 10px;
	margin-bottom: 100px;
}
}

#create-account {
	margin-right: 10px;
	margin-bottom: 100px;
}

/*#start-icebreakers {
	margin-left: 10px;
	margin-bottom: 100px;
}
*/
#update-account {
	/*margin-right: 10px;*/
	margin-bottom: 100px;
}

#sign-up-new {
	margin-bottom: 100px;
}

#logo {
	width: 100%;
	margin: 0 auto;
	margin-right: 145px; 
}

#pickaxe {
	width: 80%;
	margin: 0 auto;
	margin-top: 25px;
}

.navbar-toggle {
	width: 100%;
	float: none;
	margin: 0 auto;
}

#fb-btn {
	margin-bottom: 150px;
}

#footer-container {
	/*//background-color: #26045a*/
}

#footer {
	font-size: 35px;
	text-shadow: -1px 0 #089BA3, 0 1px #089BA3, 1px 0 #089BA3, 0 -1px #089BA3;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 10px;
	color: white;
	font-family: 'Lobster', cursive;
	position: fixed;
	bottom: 0px
}